
.alert-success {
    background-color: rgb(0, 100, 0)
}

.alert-warning {
    background-color: rgb(0, 73, 86);
}

.alert-danger {
    background-color: rgb(164, 0, 0);
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; }
nav li a{color: rgb(0, 8, 255)}
input{border-radius: 4;}
body{
background-color: rgb(125, 125, 125);
color: rgb(255, 255, 255);

}