
.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; }
nav li a{color: rgb(0, 8, 255)}
input{border-radius: 4;}
body{
background-color: rgb(125, 125, 125);
color: rgb(255, 255, 255);

}